/*Global css file*/
*{
	padding: 0px 0px;
	margin: 0px auto;
}
body{
	font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5{
	font-family: 'Roboto', sans-serif;
}
.no-padding{
	padding: 0px !important;
	margin: 0px 0px !important;
}
ul li{
	list-style: none;
}
/*header section css start*/
.header-section{
	width: 100%;
}
.header-section .navbar-brand img{
	width: 70%;
}
.header-section .bg-light {
    background: linear-gradient(90deg, rgb(46 83 134) 0%, rgb(46 83 134) 24%, rgb(53 94 144) 49%, rgb(46 83 134) 71%, rgb(46 83 134) 100%);
}
.header-section .mb-lg-0 {
    padding-left: 280px;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.header-section .navbar-light .navbar-nav .nav-link {
    color: #fff;
    padding: 0px 15px;
}
.header-section .navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ff690f;
}
/*header section css end*/
/*banner section css start*/
.banner-section{
    background: url(../img/header-bg.png) top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.banner-section .banner-inner{
    padding-top: 320px;
}
.banner-section .banner-inner p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-bottom: 15px;
}
.banner-section .banner-inner .btn-danger {
    background: #ff690f;
    text-transform: uppercase;
    font-size: 13px;
    padding: 8px 20px;
    border: 1px solid #ff690f;
    border-radius: 3px;
}
.banner-section .banner-inner .btn-danger:hover {
    background: transparent;
    transition: 0.6s;
    cursor: pointer;
    color: #fff;
}
/*banner section css end*/
/*what-we-offer section css start*/
.what-we-offer {
    width: 100%;
    text-align: center;
    background: #f7f7f7;
    padding-bottom: 110px;
}
.what-we-offer .what-we-offer-heading {
    padding: 45px 0px 20px 0px;
}
.what-we-offer .what-we-offer-heading h2 {
    font-size: 44px;
    color: #000000;
    font-weight: 600;
    line-height: 55px;
    padding-bottom: 10px;
}
.what-we-offer .what-we-offer-heading p {
    font-size: 16px;
    line-height: 26px;
}
.what-we-offer .what-we-offer-content img {
    height: 170px;
    width: 150px;
    margin-bottom: 30px;
}
.what-we-offer .what-we-offer-content h3 {
    font-size: 12px;
    line-height: 22px;
    margin: 10px auto;
}
.what-we-offer .what-we-offer-content p {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 5px;
}
.what-we-offer .what-we-offer-content .btn-danger{
    background: #ff690f;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #ff690f;
    border-radius: 3px;
}
.what-we-offer .what-we-offer-content .btn-danger:hover{
    transition: 0.6s;
    cursor: pointer;
    color: #0a0a0a;
}
/*what-we-offer section css end*/
/*gallery-section section css start*/
.gallery-section{
	width: 100%;
}
.gallery-section .gallery-content {
    margin-bottom: 0px;
    border-radius: inherit;
    overflow: hidden;
    border: none;
}
.gallery-section .gallery-content-image {
  width: 100%;
  display: block;
  height: auto;
}
.gallery-section .gallery-content .overlay{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
	background:rgba(0,0,0,.8);
	transition: .6s linear;
	opacity: 0;
}
.gallery-section .gallery-content .overlay a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.gallery-section .gallery-content .overlay a i:hover{
	font-size: 45px;
	cursor: pointer;
	transition: .6s linear;
}
.gallery-section .gallery-content:hover .overlay{
	height: 100%;
	opacity: 1;
}
/*gallery-section section css end*/
/*crew-section css start*/
.crew-section {
    text-align: center;
    width: 100%;
    background: #fff;
    padding: 80px 0px;
}
.crew-section .crew-heading h2{
    font-size: 44px;
    color: #000000;
    font-weight: 600;
    line-height: 55px;
    padding-bottom: 10px;
}
.crew-section .crew-item img {
    width: 160px;
    height: 160px;
}
.crew-section .crew-item h5 {
    color: #999999;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 0px 10px 0px;
}
.crew-section .crew-item h3 {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    padding-bottom: 5px;
    text-transform: uppercase;
}
/*crew-section css end*/
/*about us section css start*/
.about-us-section{
	width: 100%;
	padding: 120px 0px;
	background: url(../img/about-bg.png) top center no-repeat;
	background-size: cover;
}
.about-us-section .about-us-title h2 {
    font-size: 44px;
    color: #000000;
    font-weight: 600;
    line-height: 50px;
}
.about-us-section .about-us-title p {
    font-size: 16px;
    line-height: 26px;
    color: #272727;
}
.about-us-section .block{ 
	width: 100%;
	color:#000000; 
	text-align: left; 
}
.about-us-section .block p { 
	margin: 0; 
}
.about-us-section .block p i{ 
	font-size: 40px; 
	color: #000000; 
}
.about-us-section .counter-wrapper {
    color: #ff690f;
    font-weight: 900;
    font-size: 38px;
}
.about-us-section .text-block {
    font-size: 12px;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}
/*about us section css end*/
/*TESTIMONIALS section css start*/
.testimonials-section {
    width: 100%;
    padding: 70px 0px;
}
.testimonials-section .testimonials-title h2 {
    font-size: 44px;
    color: #000000;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 25px;
}
.testimonials-section .testimonials-item{
	width: 100%;
	text-align: center;
}
.testimonials-section .testimonials-item h3 {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding-top: 20px;
}
.testimonials-section .testimonials-item p {
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #4d4d4d;
}
.testimonials-section .testimonials-item .owl-carousel .owl-item img {
    width: 300px;
    height: 100%;
}
.testimonials-section .testimonials-item 
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff690f;
}
.testimonials-section .testimonials-item
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    color: #fff!important;
}
/*TESTIMONIALS section css end*/
/*footer section css start*/
.footer-section{
	width: 100%;
	background: #2f2f2f;
}
.footer-section .footer-left {
    width: 100%;
    padding: 30px 0px 0px 0px;
}
.footer-section .footer-left h2 {
    font-size: 44px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
}
.footer-section .footer-left ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 300;
}
.footer-section .footer-left ul li a i {
    padding-right: 10px;
    font-size: 12px;
    color: red;
}
.footer-section .footer-left .social-item {
	padding-top: 10px;
}
.footer-section .footer-left .social-item ul li {
    display: inline;
    font-size: 23px;
    color: #1a9483;
    padding-right: 10px;
}
.footer-section .footer-right{
	width: 100%;
}
/*footer section css end*/


